.theme-white .text-primary {
    color: #6777ef !important;
}

.user-initial {
    width: 40px;
    height: 40px;
    font-size: large;
}

.badge-dot {
    position: relative;
    display: inline-block;
}

.badge-dot::after {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid #fff;
}
